.cabecera{
	background: #0431B4;
	margin: 10px;
	height: 100px;
	border-radius: 10px;
	text-align: center;
	padding: 15px;
	margin-left: 200px;
	margin-right: 200px;
}
.menu{
	margin-left: 200px;
	margin-top: -10px;
	margin-right: 200px;
}
footer{
    background:blue;
	border-radius: 10px;
	margin-left: 200px;
	margin-right: 200px;
}
.cabecera2{
 	text-align: center;
 	margin-top: 10px;
 	color: #FFFFFF;
 	height: 100px;
}
.slide, .item{
	width: 500px;
	height: 360px;
	margin: 2px auto;
}
.item{
	width: 550px;
	height: 350px;
}
.slide{
	margin-top: -50px;
	margin-right: 430px;
}
.logeo{
	height: 110px;
	padding: 50px;
	text-align: center;
	font-weight: bold;
}